<div style="text-align:center">
    <h1>Python course</h1>
    <h3>Session 04: Files, CSV, OOP overview, Databases overview</h3>
    <h4><a href="https://github.com/8-momo-8">metwally mohamed</a></h5>
</div>

### Files

#### Read from files

In [1]:
with open('files/4/first.txt', 'r') as file:
    line = file.readline()

print(line)

Enjoyed minutes related as at on on. Is fanny dried as often me. Goodness as reserved raptures to mistaken steepest oh screened he. Gravity he mr sixteen esteems.

In [2]:
with open('files/4/first.txt', 'r') as file:
    #chars = file.read()
    lines = file.read().splitlines() # list contain the lines try to print it 

#print(f"Number of chars is: {len(chars)}")

for line in lines:
    print(line)

Enjoyed minutes related as at on on. Is fanny dried as often me. Goodness as reserved raptures to mistaken steepest oh screened he. Gravity he mr sixteen esteems.
Mile home its new way with high told said. Finished no horrible blessing landlord dwelling dissuade if. Rent fond am he in on read. Anxious cordial demands settled
entered in do to colonel. Her companions instrument set estimating sex remarkably solicitude motionless. Property men the why smallest graceful day insisted required.
Inquiry justice country old placing sitting any ten age. Looking venture justice in evident in totally he do ability. Be is lose girl long of up give. Trifling wondered
unpacked ye at he. In household certainty an on tolerably smallness difficult. Many no each like up be is next neat. Put not enjoyment behaviour her supposing. At he pulled object others.

In [3]:
with open('files/4/first.txt', 'r') as file:
    lines = file.read().split('.')

print(lines)

['Enjoyed minutes related as at on on', ' Is fanny dried as often me', ' Goodness as reserved raptures to mistaken steepest oh screened he', ' Gravity he mr sixteen esteems', ' \nMile home its new way with high told said', ' Finished no horrible blessing landlord dwelling dissuade if', ' Rent fond am he in on read', ' Anxious cordial demands settled \nentered in do to colonel', ' Her companions instrument set estimating sex remarkably solicitude motionless', ' Property men the why smallest graceful day insisted required', ' \nInquiry justice country old placing sitting any ten age', ' Looking venture justice in evident in totally he do ability', ' Be is lose girl long of up give', ' Trifling wondered \nunpacked ye at he', ' In household certainty an on tolerably smallness difficult', ' Many no each like up be is next neat', ' Put not enjoyment behaviour her supposing', ' At he pulled object others', '']

In [4]:
import csv

with open('files/4/scores.csv') as f:
    reader = csv.reader(f)
    # print(reader)
    for row in reader:
        print(row)

['Jack', '8', '8', '8.75', '10', '12', '19']
['Monica', '20', '20', '20', '19', '17', '20']
['John', '9', '9', '9.5', '10', '11.25', '13']
['Rachel', '18.5', '20', '0', '18', '14', '20']
['Tom', '10', '19', '5', '10.5', '12', '19']

In [5]:
import csv

with open('files/4/scores.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        for grade in row[1:]:
            name = row[0]
            print(f'{name} got {grade}')

Jack got 8
Jack got 8
Jack got 8.75
Jack got 10
Jack got 12
Jack got 19
Monica got 20
Monica got 20
Monica got 20
Monica got 19
Monica got 17
Monica got 20
John got 9
John got 9
John got 9.5
John got 10
John got 11.25
John got 13
Rachel got 18.5
Rachel got 20
Rachel got 0
Rachel got 18
Rachel got 14
Rachel got 20
Tom got 10
Tom got 19
Tom got 5
Tom got 10.5
Tom got 12
Tom got 19

In [6]:
import csv
import math

with open('files/4/scores.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        for grade in row[1:]:
            name = row[0]
            std_grades = list()
            for grade in row[1:]:
                std_grades.append(grade)

        
        print(name, std_grades)

        std_grades_float = list(map(float, std_grades))
        std_grades_sum = math.fsum(std_grades_float)
        std_avg = std_grades_sum/len(std_grades_float)
        
        print(f"{name} avg is: {round(std_avg, 2)}")

Jack ['8', '8', '8.75', '10', '12', '19']
Jack avg is: 10.96
Monica ['20', '20', '20', '19', '17', '20']
Monica avg is: 19.33
John ['9', '9', '9.5', '10', '11.25', '13']
John avg is: 10.29
Rachel ['18.5', '20', '0', '18', '14', '20']
Rachel avg is: 15.08
Tom ['10', '19', '5', '10.5', '12', '19']
Tom avg is: 12.58

#### Save to files

In [7]:
with open("files/4/my_new_file.txt", "w") as file:  # create a new file and write to it #################################
    file.write("World \n")

In [8]:
with open("files/4/my_new_file.txt", "a+") as file:
    file.write("Hello \n")

In [9]:
my_list = ["This is Delhi. \n", "This is Paris. \n", "This is London. \n"]

with open("files/4/my_new_file2.txt", "w") as file:
    file.writelines(my_list)

In [10]:
numbers = list(range(1, 20))
even = [number for number in numbers if number % 2 == 0]

with open('files/4/my_new_file3.txt', 'w') as file:
    for num in even:
        file.write(str(num) + '\n')

In [11]:
import json

stocks = {'PLW': ['Playway', 350], 'BBT': ['Boombit', 22]}

with open('files/4/my_new_file4.json', 'w') as file:
    json.dump(stocks, file, indent=4)

In [12]:
headers = ['user_id', 'amount']
users = [['001', '1400'], ['004', '1300'], ['007', '900']]

with open('files/4/my_new_file5.csv', 'w') as file:
    file.write(','.join(headers) + '\n')
    for user in users:
        file.write(','.join(user) + '\n')

In [13]:
# with open('files/4/my_new_file6.txt', "w") as file:
#     file.write("hello my friend")

with open('files/4/my_new_file6.txt', "w", encoding= "utf-8") as file:
    file.write("hello my friend")

#### Delete files

In [14]:
import os
os.remove('files/4/my_new_file6.txt')

In [15]:
import os
if os.path.exists('files/4/my_new_file6.txt'):
  os.remove('files/4/my_new_file6.txt')
else:
  print("The file does not exist")

The file does not exist

### OOP (Object Oriented Programming)

In [16]:
class Person:
    count = 0

    # constructor
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def get_name(self):
        print('Name is %s' % self.name)

    def get_birthday(self):
        self.age += 1
        print('Birthday is %s' % self.age)


ali = Person('mohamed', 23)

ali.get_name()
ali.get_birthday()
print(ali.count)

print("-" * 40)

mohammad = Person('mohamed', 29)

mohammad.get_name()
mohammad.get_birthday()
print(mohammad.count)

Name is mohamed
Birthday is 24
0
----------------------------------------
Name is mohamed
Birthday is 30
0

In [17]:
class Computer:
    def __init__(self, ram, hard, cpu):
        self.ram = ram
        self.hard = hard
        self.cpu = cpu

    def print_info(self):
        print('Ram is %s' % self.ram)
        print('Hard is %s' % self.hard)
        print('CPU is %s' % self.cpu)

class Laptop(Computer):
    def __init__(self, ram, hard, cpu, screen):
        Computer.__init__(self, ram, hard, cpu)
        self.screen = screen

    def print_info(self):
        super().print_info()
        print('Screen is %s' % self.screen)

pc1 = Computer(8, 'ssd', 'i7')
pc1.print_info()

print("-" * 40)

lap1 = Laptop(12, 'ssd', 'i9', '11.6')
lap1.print_info()

Ram is 8
Hard is ssd
CPU is i7
----------------------------------------
Ram is 12
Hard is ssd
CPU is i9
Screen is 11.6

In [18]:
class Bird:
   
    def intro(self):
        print("There are many types of birds.")
 
    def flight(self):
        print("Most of the birds can fly but some cannot.")
 
class sparrow(Bird):
   
    def flight(self):
        print("Sparrows can fly.")
 
class ostrich(Bird):
 
    def flight(self):
        print("Ostriches cannot fly.")
 
obj_bird = Bird()
obj_spr = sparrow()
obj_ost = ostrich()
 
obj_bird.intro()
obj_bird.flight()

print("-" * 40)

obj_spr.intro()
obj_spr.flight()

print("-" * 40)
 
obj_ost.intro()
obj_ost.flight()

There are many types of birds.
Most of the birds can fly but some cannot.
----------------------------------------
There are many types of birds.
Sparrows can fly.
----------------------------------------
There are many types of birds.
Ostriches cannot fly.

### SQL databases (MySQL)

###### To download MySQL windows installer: 
###### https://dl3.downloadly.ir/Files/Software/MySQL_Community_Server_8.0.30_MSI_Downloadly.ir.rar
###### https://cdna.p30download.ir/p30dl-software/HeidiSQL.v12.1.0.6537_p30download.com.rar

###### More on MySQL and Python: https://www.w3schools.com/python/python_mysql_getstarted.asp

In [19]:
import mysql.connector    #  you have to install mysql check the resources 


cnx = mysql.connector.connect(
                                user='YOUR_USERNAME', 
                                password='YOUR_PASSWORD',
                                host='127.0.0.1',
                                database='company'
                            )

cursor = cnx.cursor()

# cursor.execute("INSERT INTO Workers VALUES (0,'Ali', 'M',20)")
# cursor.execute("INSERT INTO Workers VALUES (0,'Mahdi', 'M',50)")
# cursor.execute("INSERT INTO Workers VALUES (0,'Sara', 'F',10)")

# cnx.commit()


# query = "SELECT * FROM Workers"
# cursor.execute(query)

# for (id, name, gender, rate) in cursor:
#     print("{}'s rate is {}.".format(name, rate))


cursor.execute("DELETE FROM Workers WHERE Id = 7")
cnx.commit()

cnx.close()

ModuleNotFoundError: No module named 'mysql'